@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body {
  background-color: #c5f7fc;
}

#title, #levelOne, #levelTwo, #levelThree, #word, #pronunciation, #wordOrigin, #partOfSpeech, #definition, #exampleSentence, #selectedWordText, #pronunciationText, #wordOriginText, #partOfSpeechText, #definitionText, #exampleSentenceText, #correct, #incorrect  {
  font-family: "Yusei Magic", sans-serif;
}

#title {
  font-size: 60px;
}

#wordContainer * {
  display: inline;
}

#buttonContainer * {
  display: inline;
}

#selectedWordText {
  font-size: 40px;
  padding-left: 100px;
}

#pronunciationText, #wordOriginText, #partOfSpeechText, #definitionText, #exampleSentenceText {
  font-size: 18px;
}

#sidebar {
  background-color: #0ed7eb;
}

#levelOne, #levelTwo, #levelThree {
  background-color: #c5f7fc;
}

#correct {
  background-color: #c8f7a8;
  padding-right: 20px;
}

#incorrect {
  background-color: #fa9ba0;
}